@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat-regular.woff2') format('woff2'),
       url('/fonts/montserrat-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
}

:root{
  --first-color: #0d253f; /* Dark Blue */
  --second-color: #01b4e4; /* Light Blue */
  --third-color: #90cea1; /* Light Green */
}


.header{
  display: flex;
  justify-content: center;
  max-height: 50px;
  max-width: 100%;
  background: var(--first-color);
}

.logo{
  padding: 15px;
  height: 50px;
  background: var(--first-color) ;
}

.container{
  padding: 0 300px 0 300px;
}

.form {
  padding: 30px;
  min-height: 250px;
  min-width: 250px;
  text-align: center;
  background: var(--first-color);
  border-radius: 0 0 35px 35px;
}

.title1{
  font-size: 50px;
  color: white;
}

.title2{
  font-size: 35px;
  margin-bottom: 25px;
  color: white;
}

.popularity{
  text-align: center;
  font-size: 35px;
  color: var(--first-color);
  margin: 20px 0;
}

.input{
  margin-right: 15px;
  width: 600px;
  background: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 20px;
  color: linear-gradient(to right, var(--third-color, 1) 0%,var(--second-color, 1) 100%);
  font-family: 'Montserrat';
  font-weight: bold;
}

.input:hover{
  outline: 0;
}

.input:focus{
  outline: 0;
}

input::placeholder{
  color: var(--third-color)
}

.btn-search {
  min-width: 200px;
  margin-top: 25px;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  border-radius: 50px;
  background: linear-gradient(to right, var(--third-color, 1) 0%,var(--second-color, 1) 100%);
  border: none;
  cursor: pointer;
}

.btn-search:hover{
  color: black;
}

.movie-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie{
  width: 200px;
  margin: 15px 30px 15px 0;
  border: none;
  border-radius: 35px;
  background: var(--first-color);
  position: relative;
  overflow: hidden;
}

.movie-img{
  width: 100%;
}

.movie-title{
  text-align: center;
  margin-top: 0;
}

.movie-info{
  color: var(--third-color);
  padding: 5px 20px 10px 20px;
  font-size: 15px;
  font-weight: bold;
}

.rating-green{
  min-width: 40px;
  margin-top: 20px;
  font-weight: bold;
  color: lightgreen;
}

.rating-orange{
  min-width: 40px;
  margin-top: 20px;
  font-weight: bold;
  color: orange;
}

.rating-red{
  min-width: 40px;
  margin-top: 20px;
  font-weight: bold;
  color: red;
}

.rating{
  text-align: center;
  margin: 10px 10px 10px 0;
}

.release-date{
text-align: center;
}

.description{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px ;
  min-height: 100%;
  font-size: 12px;
  font-weight: bold;
  background: var(--first-color);
  opacity: 0.9;
  transform: translateY(101%);
  transition: transform 0.2s ease-in;
  color: var(--third-color);
}

.movie:hover .description{
  transform: translateY(0);
}

.footer{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0 300px 0 300px;
  height: 200px;
  background: var(--first-color);
}

.footer-logo{
  height: 200px;
  width: 200px;
}
.contacts-block{
  margin-left:50px ;
}
.contacts{
  margin-bottom: 15px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.footer-list{
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
}
.footer-list-item{
  margin: 15px 0 15px 0;
}

.footer-link{
  color: white;
  text-decoration: none;
}
