.app-movie-404-container{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-movie-404-title{
  font-size: 200px;
}

.app-movie-404{
  font-size: 150px;
color: #d40242;
}
