.app-movies-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 150px;
  padding: 30px;
}

.app-movie-form-input {
  margin-right: 15px;
  width: 1000px;
  height: 50px;
  background: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
}

.app-movie-form-input:focus {
  outline: 0;
}

.app-movie-form-input::placeholder {
  color: #3a3e4a;
}

.app-movie-form-button {
  margin-top: 15px;
  width: 200px;
  height: 50px;
  padding: 10px 20px;
  font-size: 25px;
  color: #3a3e4a;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.app-movie-form-button:hover {

}

.app-movie-main-section {
    margin: 0 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.app-movie-main-card {
  width: 250px;
  height: 500px;
  margin: 15px 30px 15px 0;
  overflow: hidden;
  border: 3px solid #3a3e4a;
  cursor: pointer;
    background-color: #3a3e4a;
}

.app-movie-card-img {
  width: 250px;
  height: 80%;
}

.app-movie-card-info{
  padding: 3%;
  height: 17%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #abb9b9;
  font-weight: bold;
}

.app-movie-card-title{
  font-size: 18px;
}
