<div class="app-movies-search-container">
  <input
    type='text'
    placeholder='Найти фильм . . . . . . . .'
    class="app-movie-form-input"
    [value]="inputValue"
    (keyup.enter)="onInput($event)">
</div>
<div class="main">
<div class="app-movie-main-section">
  <div *ngFor="let movie of data?.results" class="app-movie-main-card" (click)="getDetail(movie.id)">
    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="" class="app-movie-card-img">
    <div class="app-movie-card-info">
      <p class="app-movie-card-title">{{movie.title}}</p>
      <p class="app-movie-card-date">({{movie.release_date.slice(0, 4)}})</p>
      <p class="app-movie-card-rating">Рейтинг:  {{movie.vote_average}}</p>
    </div>
  </div>
</div>
</div>
