<div class="app-movie-contacts-container">
  <h3 class="app-movie-contacts-title">Задайте свой вопрос</h3>
  <form action="https://jsonplaceholder.typicode.com/posts" autocomplete method="POST" class="app-movie-contact-form">
      <input type="text" name="name" id="name" class="app-movie-contacts-input" placeholder="Ваше имя:">
      <input type="text" name="last-name" id="last-name" class="app-movie-contacts-input" placeholder="Ваша фамилия:">
      <input type="email" name="email" id="email" class="app-movie-contacts-input" placeholder="Электронная почта:">
      <textarea rows="4" name="text" placeholder="Содержание:" id="text" class="app-movie-contacts-input"></textarea>
    <button class="app-movie-contacts-form-button" type="submit">Отправить</button>
  </form>
</div>
