<div *ngIf="dataDetail" class="app-movies-details">
<!--  <button (click)="onClose()">X</button>-->
  <div class="app-movies-details-flex">
    <img src="https://image.tmdb.org/t/p/w500/{{dataDetail.poster_path}}" alt="" class="app-movies-details-img">
    <div class="app-movies-details-info">
      <ul class="app-movies-details-list">
        <li class="app-movies-details-item"><span class="app-movies-details-item-title">Название:</span> "{{dataDetail.title}}"</li>
        <li class="app-movies-details-item"><span class="app-movies-details-item-title">Оригинальное название:</span> "{{dataDetail.original_title}}"</li>
        <li class="app-movies-details-item"><span class="app-movies-details-item-title">Дата выхода: </span>{{dataDetail.release_date.slice(0, 4)}}</li>
        <li class="app-movies-details-item"><span class="app-movies-details-item-title">Рейтинг: </span>{{dataDetail.vote_average}}</li>
        <li class="app-movies-details-item"><span class="app-movies-details-item-title">Описание:</span> {{dataDetail.overview}}</li>
        <li class="app-movies-details-item"><span class="app-movies-details-item-title">Страница на</span><a href="https://www.imdb.com/title/{{dataDetail.imdb_id}}/?ref_=ttls_li_tt" target="_blank" class="app-movies-details-item-imdb"> IMDB</a></li>
        <li class="app-movies-details-item"><span class="app-movies-details-item-title">Домашняя страница: </span><a
          href="{{dataDetail.homepage}}" target="_blank" class="app-movies-details-item-imdb">{{dataDetail.homepage}}</a></li>
      </ul>
    </div>
  </div>
</div>
