.app-detail {
  box-sizing: border-box;
  display: block;
  height: 80vh;
  position: absolute;
  width: 80vw;
  background-color: #cccccc;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
