<div class="app-movie-about-container">
  <h2 class="app-movie-about-first-title">Hi there,</h2>
  <h3 class="app-movie-about-second-title">Let's talk about TMDB</h3>
  <p class="app-movie-about-text">The Movie Database (TMDB) is a <span class="strongtext">community built</span> movie and TV
    database. Every piece of data has been added
    by our amazing community dating back to 2008. TMDb's strong <span class="strongtext">international focus</span> and
    breadth of data is
    largely unmatched and something we're incredibly proud of. Put simply, we live and breathe community and that's
    precisely what makes us different.</p>
  <h4 class="app-movie-about-advantages">The TMDB Advantage</h4>

  <ul class="app-movie-about-list">
    <li class="app-movie-about-item">
      <div class="app-movie-item-number">1</div>
      <p>Every year since 2008, the number of contributions to our database has increased. With over 400,000 developers
        and companies using our platform, TMDB has become a premiere source for metadata.</p>
    </li>

    <li class="app-movie-about-item">
      <div class="app-movie-item-number">2</div>
      <p>Along with extensive metadata for movies, TV shows and people, we also offer one of the best selections of high
        resolution posters and fanart. On average, over 1,000 images are added every single day.</p>
    </li>

    <li class="app-movie-about-item">
      <div class="app-movie-item-number">3</div>
      <p>We're international. While we officially support 39 languages we also have extensive regional data. Every
        single day TMDB is used in over 180 countries.</p>
    </li>

    <li class="app-movie-about-item">
      <div class="app-movie-item-number">4</div>
      <p>Our community is second to none. Between our staff and community moderators, we're always here to help. We're
        passionate about making sure your experience on TMDB is nothing short of amazing.</p>
    </li>

    <li class="app-movie-about-item">
      <div class="app-movie-item-number">5</div>
      <p>Trusted platform. Every single day our service is used by millions of people while we process over 3 billion
        requests. We've proven for years that this is a service that can be trusted and relied on.</p>
    </li>
  </ul>
</div>
