<div class="app-movie-about-container">
  <h2 class="app-movie-about-first-title">Hi there,</h2>
  <h3 class="app-movie-about-second-title">Let's talk about TMDB</h3>
  <p class="app-movie-about-text">The Movie Database (TMDB) is a <span class="strongtext">community built</span> movie
    and TV
    database. Every piece of data has been added
    by our amazing community dating back to 2008. TMDb's strong <span class="strongtext">international focus</span> and
    breadth of data is
    largely unmatched and something we're incredibly proud of. Put simply, we live and breathe community and that's
    precisely what makes us different.</p>
  <h4 class="app-movie-about-advantages">The TMDB Advantage</h4>


  <ul class="app-movie-about-list">

    <li *ngFor="let adv of advantagesList; let idx = index" class="app-movie-about-item">
      <div class="app-movie-item-number">{{idx + 1}}</div>
      <p>{{adv}}</p>
    </li>

  </ul>

</div>
