.app-movies-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #3a3e4a;
}

.app-movies-footer-logo {
  height: 150px;
  width: 150px;
}
